.create-account-form {
  .avatar-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .avatar-preview {
    margin-top: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-upload, .ant-upload-select {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
  }

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .upload-button {
    position: absolute;
    display: none;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    bottom: 20px;
    right: 20px;
    width: 100%;
  }

  .submit-button, .reset-button {
    width: 100px;
    margin-left: 10px;
  }
}