.create-account-form {
  .form-actions {
    display: flex;
    justify-content: flex-end;
    bottom: 20px;
    right: 20px;
    width: 100%;
  }

  .submit-button,
  .reset-button {
    width: 100px;
    margin-left: 10px;
  }
}