.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 64px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .collapse-button {
        font-size: 18px;
    }

    .logout-icon {
        display: flex;
        align-items: center;
        font-size: 20px; // Slightly increase icon size
        cursor: pointer;
        transition: color 0.3s, transform 0.3s; // Smooth transition for hover effects

        &:hover {
            transform: scale(1.1); // Slightly increase size on hover
        }

        &.loading {
            animation: spin 0.8s linear infinite; // Faster spin animation during loading
            color: #1890ff; // Optional color change during loading to make it stand out
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}